mixin user-info({ name = "name here", surname = "surname", job = "graphic designer", imageName = 'blue-circle' } = {})
  .user-info
    .user-info__photo-frame
      img.user-info__photo(
        src=require(`../common.blocks/user-info/images/${imageName}.png`),
        alt=`${name} ${surname}`
      )
    .user-info__description
      .user-info__name= name
      .user-info__surname= surname
      .user-info__job= job
